@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  text-align: center;
  text-decoration: underline;
  color: red;
}

h3 {
  color: #FF5733;
  text-shadow: 50%;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  background: #86D6E1;
  padding: 20px;
}

ul li {
  background: #D9ECEF;
  margin: 5px;
  word-wrap: break-word;
  padding: 10px;
}
