<h1>Products</h1>

<h3>Here is a list of all the products we carry at Mario's food</h3>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
